// sass variables

// Theme colors
$theme-blue: #507689;
$theme-green: #9dd7a4;
$theme-pink: #e6b7ee;
$theme-yellow: #e8ebb4;
$theme-purple: #7e4cbf;

// webpack.prod.js > webpack-pwa-manifest colors
$theme_color: #9dd7a4;
